*/.ipynb_checkpoints
data
output
Module 2/Notebook/mlruns/1/5e24dc92b71041c0bcde01b95a1a49c3/artifacts/model/conda.yaml
Module 2/Notebook/mlruns/*

Module 2/Notebook/homework2.db
Module 2/homework2.db
.gitignore
Module 1/notebooks/.ipynb_checkpoints/01-intro homework-checkpoint.ipynb
Module 3/data


Module 3/scripts/mlflow.db
Module 3/models/*
Module 3/notebook/.prefect/*
Module 3/scripts/.prefect/*
Module 3/scripts/mlruns/*
Module 3/homework/.prefect/*

models/lin_reg.bin
Module 4/homework/model.bin
